<header class="bar bar-nav">
	<h1 class="title">{{title}}</h1>
</header>
<ul class="table-view">
{{#each data}}
	<li class="table-view-cell media">
		<a class="navigate-right" href="/issue/{{this.id}}">
			{{{this.description}}}
			<button class="btn btn-positive">+</button>
			<button class="btn btn-negative">-</button>
			<span class="badge">{{this.count}}</span>
		</a>
	</li>
{{/each}}
</ul>
</div>