<header class="bar bar-nav">
	<h1 class="title">{{title}}</h1>
</header>
<div class="content">
<ul class="table-view">
{{#each data}}
	<li class="table-view-cell media">
		{{#if voted}}
			<span class="media-object pull-left icon icon-star"></span>
		{{else}}
			<span class="media-object pull-left icon icon-star"></span>
		{{/if}}
		<span class="capitalize">{{{description}}}</span>
		<span class="media-body badge">{{count}}</span>
	</li>
{{/each}}
</ul>
</div>