<header class="bar bar-nav">
	<h1 class="title">{{title}}</h1>
</header>
<div class="content">
<ul class="table-view">
{{#each data}}
	<li class="table-view-cell media">
		<a class="navigate-right" href="/issue/{{id}}">
			{{{description}}}
			<span class="badge">{{count}}</span>
		</a>
	</li>
{{/each}}
</ul>
</div>