<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" >
    <title>{{title}}</title>
	
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" >
	
	<meta name="apple-mobile-web-app-capable" content="yes" >
	<meta name="apple-mobile-web-app-status-bar-style" content="black" >
	
    <link rel='stylesheet' href='/stylesheets/ratchet.css' >
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<script src="/javascripts/ratchet.min.js" ></script>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
	</script>
	<style>
	.capitalize {
	    text-transform: capitalize;
	}
	</style>
  </head>
  <body>
  	<nav class="bar bar-tab">
    <a class="tab-item" href="/profile">
      <span class="icon icon-person"></span>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="#">
      <span class="icon icon-gear"></span>
      <span class="tab-label">Settings</span>
    </a>
	</nav>
    {{{body}}}
  </body>
</html>
